@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  /* Adjust the stroke width as needed */
  -webkit-text-stroke-color: #66fcf1;
}

.blur {
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

/* App.css */
body {
  scroll-behavior: smooth;
  background: #0b0b0b;
}

html {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}



.section {
  height: 100vh;
  /* Each section takes up the full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
}